.d-card-wide.mdl-card {
  width: 320px;
  height:320px;
  margin:15px;
}
.d-card-wide > .mdl-card__title {
  color: #fff;
  height: 50%;
  background: url('../img/welcome_card.jpg') center / cover;
}
.d-card-wide > .mdl-card__menu {
  color: #fff;
}
.d-card-wide > .mdl-card__supporting-text {
  padding-bottom: 15px;
}

.annee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
