.demo-card-wide.mdl-card {
  width: 512px;
  margin:auto;
  margin-top: 15px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 18888px;
  background: url('./img/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
